table {
  width: 100%;
  margin-bottom: 10px;
  min-width: 340px;
}

.mat-column-role {
  padding-right: 5px;
}

.mat-column-email {
  padding-right: 5px;
  width: 100%;
}

.mat-column-displayName {
  padding-right: 5px;
}

.add-row th {
  border-bottom: none;
  padding: 0px;
  margin: 0px;
}

.add-button {
  float: right;
  margin-right: 5px;
}
