table {
  width: 100%;
  min-width: 340px;
}

.mat-column-description {
  padding-right: 5px;
}

.mat-column-name {
  // white-space: nowrap;
  padding-right: 5px;
  cursor: pointer;
  font-weight: 600;
}

.mat-column-resourceType {
  text-align: right;
  justify-content: flex-end;
}
