table {
  width: 100%;
  min-width: 340px;
}

.mat-column-description {
  padding-right: 5px;
  // width: 100%;
}

.mat-column-name {
  padding-right: 5px;
  // min-width: 120px;
}

.mat-column-viewprint {
  text-align: right;
  justify-content: flex-end;
}

.mat-column-status {
  white-space: nowrap;
  padding-right: 5px;
}

.mat-column-team {
  text-align: right;
  justify-content: flex-end;
  padding-right: 5px;
}
