<app-subheading
  prompt="Data Visualizations
  "
  matIcon="insert_chart_outlined"
></app-subheading>

<div class="page-container min-page">
  <app-datasearch
    (checklistExtract)="createViz($event)"
    (startExtract)="startExtract()"
  ></app-datasearch>
  <br />
  <div *ngIf="showChart">
    <div class="chart-holder">
      <ngx-charts-bar-horizontal
        [view]="view"
        [scheme]="colorScheme"
        [results]="series"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)"
      >
      </ngx-charts-bar-horizontal>
    </div>
  </div>
</div>
