<app-subheading
  [title]="resource.name + ' [Update]'"
  *ngIf="crudAction == Crud.Update"
  returnRoute="/resources"
  returnTitle="Return to Resources"
  matIcon="folder_open"
></app-subheading>
<app-subheading
  title="Create New Resource"
  *ngIf="crudAction == Crud.Create"
  returnRoute="/resources"
  returnTitle="Return to Resources"
  matIcon="folder_open"
></app-subheading>
<app-subheading
  [title]="resource.name + ' [Delete]'"
  *ngIf="crudAction == Crud.Delete"
  returnRoute="/resources"
  returnTitle="Return to Resources"
  matIcon="folder_open"
></app-subheading>
<div class="page-container">
  <form class="standard-form" [formGroup]="resourceForm">
    <fieldset [disabled]="crudAction == Crud.Delete">
      <mat-form-field class="full-width">
        <input
          matInput
          formControlName="name"
          (change)="onFieldUpdate('name')"
          placeholder="Resource Name"
          required
        />
        <mat-error *ngIf="resourceForm.controls['name'].hasError('required')">
          Name is required.
        </mat-error>
        <mat-error *ngIf="resourceForm.controls['name'].hasError('minlength')">
          Name must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="resourceForm.controls['name'].hasError('maxlength')">
          Name must be no more than 35 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea
          matInput
          formControlName="description"
          (change)="onFieldUpdate('description')"
          matAutosizeMinRows="3"
          matAutosizeMaxRows="10"
          matTextareaAutosize
          placeholder="Description"
          required
        ></textarea>
        <mat-error
          *ngIf="resourceForm.controls['description'].hasError('required')"
        >
          Description is required.
        </mat-error>
        <mat-error
          *ngIf="resourceForm.controls['description'].hasError('minlength')"
        >
          Description must be at least 10 characters long.
        </mat-error>
        <mat-error
          *ngIf="resourceForm.controls['description'].hasError('maxlength')"
        >
          Description must be no more than 500 characters long.
        </mat-error>
      </mat-form-field>

      <mat-card>
        <!-- <div class="card-header">Resource Content</div> -->
        <div class="rb-group">
          <mat-radio-group
            formControlName="resourceType"
            (change)="
              onFieldUpdate('resourceType'); setContentValidators($event.value)
            "
          >
            <mat-radio-button
              *ngFor="let info of ResourceTypeInfo"
              [value]="info.resourceType"
              >{{ info.name }}</mat-radio-button
            >
          </mat-radio-group>
        </div>

        <ng-container *ngIf="resource.resourceType == ResourceType.url">
          <mat-form-field class="full-width">
            <input
              matInput
              formControlName="content"
              (change)="onFieldUpdate('content')"
              placeholder="URL"
              required
            />
            <mat-error
              *ngIf="resourceForm.controls['content'].hasError('required')"
            >
              URL is required.
            </mat-error>
            <mat-error
              *ngIf="resourceForm.controls['content'].hasError('pattern')"
            >
              Must be a valid URL.
            </mat-error>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="resource.resourceType == ResourceType.youtubeId">
          <mat-form-field class="half-width">
            <input
              matInput
              formControlName="content"
              (change)="onFieldUpdate('content')"
              placeholder="YouTube ID"
              required
            />
            <mat-error
              *ngIf="resourceForm.controls['content'].hasError('required')"
            >
              YouTubeId is required.
            </mat-error>
            <mat-error
              *ngIf="resourceForm.controls['content'].hasError('pattern')"
            >
              Must be valid 11 character unique youtube video ID i.e.
              ZCMGzo1D2_M
            </mat-error>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="resource.resourceType == ResourceType.markdown">
          <mat-tab-group>
            <mat-tab label="Edit">
              <mat-form-field class="full-width">
                <textarea
                  matInput
                  matAutosizeMinRows="10"
                  matAutosizeMaxRows="15"
                  matTextareaAutosize
                  formControlName="content"
                  (change)="onFieldUpdate('content')"
                  placeholder="MarkDown"
                  required
                ></textarea>
                <mat-hint>Enter text using Markdown syntax</mat-hint>
                <mat-error
                  *ngIf="resourceForm.controls['content'].hasError('required')"
                >
                  Markdown text is required.
                </mat-error>
                <mat-error
                  *ngIf="resourceForm.controls['content'].hasError('maxlength')"
                >
                  Markdown must be no more than 10,000 characters long.
                </mat-error>
              </mat-form-field>
            </mat-tab>
            <mat-tab label="View">
              <div [innerHTML]="resource.content | marked"></div>
            </mat-tab>
          </mat-tab-group>
        </ng-container>
      </mat-card>

      <div class="full-width">Owner: {{ resource?.owner?.displayName }}</div>
    </fieldset>

    <button
      mat-raised-button
      color="primary"
      *ngIf="crudAction == Crud.Create"
      [disabled]="!resourceForm.valid"
      (click)="onCreate()"
      id="btnCreate"
    >
      <mat-icon>add</mat-icon>
      Create
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="crudAction == Crud.Delete"
      (click)="onDelete()"
      id="btnDelete"
    >
      <mat-icon>clear</mat-icon>
      Delete
    </button>
  </form>
</div>
