.standard-form {
  min-width: 300px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  padding-right: 8px;
  min-width: 350px;
}

mat-form-field {
  padding-bottom: 8px;
}

table {
  width: 100%;
}

mat-radio-button {
  white-space: nowrap;
  margin-right: 10px;
}

.rb-group {
  // border-bottom-style: solid;
  // border-color: black;
  // border-bottom-width: thin;
  margin-bottom: 5px;
}

.card-header {
  width: 100%;
  background-color: whitesmoke;
  font-weight: 600;
  margin-bottom: 5px;
  white-space: nowrap;
  padding-left: 0px;
  border-style: none;
}

.spinner_container {
  border-radius: 10px;
  height: 70px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  z-index: 3;
  opacity: 0.5;
}

.file-name {
  margin-right: 10px;
  margin-bottom: 7px;
}

.type-container {
  padding: 5px;
  border-width: thin;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 3px;
}

table {
  width: auto;
  margin-bottom: 7px;
}

td {
  padding: 3px;
}

.row-prompt {
  font-weight: 600;
}
