.standard-form {
  min-width: 300px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  padding-right: 8px;
  min-width: 350px;
}

mat-form-field {
  padding-bottom: 8px;
}

mat-radio-button {
  white-space: nowrap;
  margin-right: 10px;
}

.rb-group {
  margin-bottom: 5px;
  margin-top: 10px;
}

.spinner_container {
  border-radius: 10px;
  height: 70px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  z-index: 3;
  opacity: 0.5;
}

.file-name {
  margin-right: 10px;
  margin-bottom: 7px;
}

.row-prompt {
  font-weight: 600;
}

.update-field {
  cursor: pointer;
}

.update-field:hover {
  text-decoration: underline;
}

.action-button {
  margin-top: 10px;
}

.supersedeButton {
  float: right;
}

.content-viewer {
  // float: right;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 400;
}

// Create a 2 column layout when screen is more than 500px wide
@media (min-width: 500px) {
  .gridwrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
