<app-subheading
  [prompt]="
    'Resource - ' +
    (crudAction == Crud.Create
      ? 'Create'
      : crudAction == Crud.Update
      ? 'Update'
      : 'Delete')
  "
  [iconActions]="[
    {
      icon: 'arrow_back',
      toolTip: 'Return to Resources',
      routerLink: '/resources'
    }
  ]"
  matIcon="folder_open"
></app-subheading>

<div class="page-container">
  <mat-spinner *ngIf="showSpinner" class="spinner_container"></mat-spinner>
  <form class="standard-form" [formGroup]="resourceForm">
    <fieldset
      [disabled]="
        crudAction == Crud.Delete ||
        resource.status == ResourceStatus.superseded
      "
    >
      <!-- **** Name & description ***** -->

      <mat-form-field class="full-width">
        <input
          matInput
          formControlName="name"
          (change)="onFieldUpdate('name')"
          placeholder="Resource Name"
          required
        />
        <mat-error *ngIf="resourceForm.controls['name'].hasError('required')">
          Name is required.
        </mat-error>
        <mat-error *ngIf="resourceForm.controls['name'].hasError('minlength')">
          Name must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="resourceForm.controls['name'].hasError('maxlength')">
          Name must be no more than 35 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea
          matInput
          formControlName="description"
          (change)="onFieldUpdate('description')"
          matAutosizeMinRows="3"
          matAutosizeMaxRows="10"
          matTextareaAutosize
          placeholder="Description"
          required
        ></textarea>
        <mat-error
          *ngIf="resourceForm.controls['description'].hasError('required')"
        >
          Description is required.
        </mat-error>
        <mat-error
          *ngIf="resourceForm.controls['description'].hasError('minlength')"
        >
          Description must be at least 10 characters long.
        </mat-error>
        <mat-error
          *ngIf="resourceForm.controls['description'].hasError('maxlength')"
        >
          Description must be no more than 500 characters long.
        </mat-error>
      </mat-form-field>

      <!-- **** Owner, Reviewer, Team, category and status info ***** -->

      <div class="row-prompt">Owner</div>

      <div
        class="update-field"
        *ngIf="isUpdater()"
        matTooltip="Update Owner"
        (click)="onUpdateOwner()"
      >
        {{
          resource.owner && resource.owner.path
            ? (resource.owner | doc | async)?.displayName
            : "[...]"
        }}
      </div>
      <div *ngIf="!isUpdater()">
        {{ (resource.owner | doc | async)?.displayName }}
      </div>

      <div class="row-prompt">Reviewer</div>
      <div
        class="update-field"
        *ngIf="isUpdater()"
        matTooltip="Update Reviewer"
        (click)="onUpdateReviewer()"
      >
        {{
          resource.reviewer && resource.reviewer.path
            ? (resource.reviewer | doc | async)?.displayName
            : "[...]"
        }}
      </div>
      <div *ngIf="!isUpdater()">
        {{ (resource.reviewer | doc | async)?.displayName }}
      </div>

      <div class="row-prompt">Team</div>
      <div
        class="update-field"
        *ngIf="isUpdater()"
        matTooltip="Update Team"
        (click)="onUpdateTeam()"
      >
        {{
          resource.team && resource.team.path
            ? (resource.team | doc | async)?.name
            : "[...]"
        }}
      </div>
      <div *ngIf="!isUpdater()">
        {{ (resource.team | doc | async)?.name }}
      </div>

      <div class="row-prompt">Category</div>
      <div
        class="update-field"
        *ngIf="isUpdater()"
        matTooltip="Update Category"
        (click)="onUpdateCategory()"
      >
        {{
          resource.category && resource.category.path
            ? (resource.category | doc | async)?.name
            : "[...]"
        }}
      </div>
      <div *ngIf="!isUpdater()">
        {{ (resource.category | doc | async)?.name }}
      </div>

      <div class="row-prompt">Status</div>
      <div>
        {{ ResourceStatus[resource?.status] | titlecase }}
      </div>

      <ng-container *ngIf="resource.supersedes | doc | async">
        <div class="row-prompt">Supersedes</div>
        <div>
          <a
            routerLink="/redirect/resource/{{
              (resource.supersedes | doc | async)?.id
            }}"
          >
            {{ (resource.supersedes | doc | async)?.name }}</a
          >
        </div>
      </ng-container>

      <!-- Edit Resource type and Content -->

      <div class="row-prompt">Resource Content</div>
      <div class="rb-group">
        <mat-radio-group
          formControlName="resourceType"
          (change)="
            onFieldUpdate('resourceType'); setContentValidators($event.value)
          "
        >
          <mat-radio-button
            *ngFor="let info of ResourceTypeInfo"
            [value]="info.resourceType"
            >{{ info.name }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <mat-icon (click)="contentViewer()">preview</mat-icon>

      <ng-container *ngIf="resource.resourceType == ResourceType.url">
        <mat-form-field class="full-width">
          <input
            matInput
            formControlName="content"
            (change)="onFieldUpdate('content')"
            placeholder="URL"
            required
          />
          <mat-error
            *ngIf="resourceForm.controls['content'].hasError('required')"
          >
            URL is required.
          </mat-error>
          <mat-error
            *ngIf="resourceForm.controls['content'].hasError('pattern')"
          >
            Must be a valid URL.
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="resource.resourceType == ResourceType.youtubeId">
        <mat-form-field class="full-width">
          <input
            matInput
            formControlName="content"
            (change)="onFieldUpdate('content')"
            placeholder="YouTube ID"
            required
          />
          <mat-error
            *ngIf="resourceForm.controls['content'].hasError('required')"
          >
            YouTubeId is required.
          </mat-error>
          <mat-error
            *ngIf="resourceForm.controls['content'].hasError('pattern')"
          >
            Must be valid 11 character unique youtube video ID i.e. ZCMGzo1D2_M
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container
        *ngIf="
          resource.resourceType == ResourceType.file ||
          resource.resourceType == ResourceType.image
        "
      >
        <div *ngIf="crudAction != Crud.Create" class="file-name">
          File Name:
          <a [href]="downloadUrl$ | async" target="_blank">{{
            resource.content
          }}</a>
        </div>
        <div
          *ngIf="crudAction == Crud.Create && fileToUpload"
          class="file-name"
        >
          File To Upload: {{ fileToUpload.name }}
        </div>
        <!-- Use hidden file input button to have more control over button formatting -->
        <button mat-raised-button (click)="fileUpload.click()">
          {{ crudAction == Crud.Create ? "Select File" : "Update File" }}
        </button>
        <input
          type="file"
          #fileUpload
          hidden="true"
          (change)="onUploadFile($event)"
          multiple="false"
          [attr.accept]="
            resource.resourceType == ResourceType.image ? 'image/*' : null
          "
        />
      </ng-container>

      <ng-container *ngIf="resource.resourceType == ResourceType.markdown">
        <mat-form-field class="full-width">
          <textarea
            matInput
            matAutosizeMinRows="10"
            matAutosizeMaxRows="15"
            matTextareaAutosize
            formControlName="content"
            (change)="onFieldUpdate('content')"
            placeholder="MarkDown"
            required
          ></textarea>
          <mat-hint>Enter text using Markdown syntax</mat-hint>
          <mat-error
            *ngIf="resourceForm.controls['content'].hasError('required')"
          >
            Markdown text is required.
          </mat-error>
          <mat-error
            *ngIf="resourceForm.controls['content'].hasError('maxlength')"
          >
            Markdown must be no more than 10,000 characters long.
          </mat-error>
        </mat-form-field>
      </ng-container>
    </fieldset>

    <button
      mat-raised-button
      class="action-button"
      color="primary"
      *ngIf="crudAction == Crud.Create"
      [disabled]="
        !resourceForm.valid ||
        (crudAction == Crud.Create &&
          (resource.resourceType == ResourceType.file ||
            resource.resourceType == ResourceType.image) &&
          (!fileToUpload || !fileToUpload.name))
      "
      (click)="onCreate()"
      id="btnCreate"
    >
      <mat-icon>add</mat-icon>
      Create
    </button>

    <button
      mat-raised-button
      class="action-button supersedeButton"
      color="primary"
      *ngIf="
        crudAction == Crud.Update &&
        isUpdater() &&
        resource.status != ResourceStatus.superseded
      "
      (click)="onSupersede()"
      id="btnSupersede"
      matTooltip="Supersede this Resource (Note: The superseded resource is locked)"
    >
      <mat-icon>file_copy</mat-icon>
      Supersede
    </button>

    <button
      mat-raised-button
      class="action-button"
      color="primary"
      *ngIf="crudAction == Crud.Delete"
      (click)="onDelete()"
      id="btnDelete"
    >
      <mat-icon>clear</mat-icon>
      Delete
    </button>
  </form>
</div>
