<div class="card-container">
  <app-storagelist docId="MqqBnn5N1mZTCtJsY8qI"></app-storagelist>
  <mat-card class="about-card">
    <mat-card-header class="card-header">
      <mat-card-title>About</mat-card-title>
      <mat-card-subtitle>ourChecklists</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../assets/images/home-1-400x300.jpg"
      alt="ourChecklists"
      class="appLogoImg"
    />
    <mat-card-content>
      <p>
        Team oriented checklists management application
      </p>
      <p><b>Version: </b> 2.8</p>
      <p><b>Designer: </b> David Somerville</p>
      <p>
        <b>Contact: </b>
        <a href="mailto:david.a.somerville@outlook.com"
          >david.a.somerville@outlook.com</a
        >
      </p>
    </mat-card-content>
  </mat-card>
</div>
