.prompt {
  font-weight: 700;
  margin-right: 10px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  padding-right: 8px;
  min-width: 350px;
}

::ng-deep .mat-select .mat-select-trigger {
  width: 150px;
}

.result-error {
  color: red;
}
