table {
  width: 100%;
  min-width: 340px;
}

.mat-column-description {
  padding-right: 5px;
}

.mat-column-name {
  padding-right: 5px;
}

.mat-column-id {
  text-align: right;
  justify-content: flex-end;
}

.cb-selector {
  margin-right: 5px;
}

.filter-container {
  margin-bottom: 5px;
}
td {
  vertical-align: top;
}

.filterType-radio-button {
  margin-right: 5px;
}
