table {
  width: 100%;
  min-width: 400px;
}

.mat-column-description {
  padding-right: 10px;
  width: 100%;
}

.mat-column-name {
  white-space: nowrap;
  padding-right: 10px;
}

.cb-selector {
  margin-right: 7px;
}

.filter-container {
  margin-bottom: 7px;
}
td {
  vertical-align: top;
}

.filterType-radio-button {
  margin-right: 10px;
}
