<app-subheading
  [prompt]="
    'Checklist Design - ' +
    (crudAction == Crud.Create
      ? 'Create'
      : crudAction == Crud.Update
      ? 'Update'
      : 'Delete')
  "
  [matIcon]="
    helper.getChecklistStatusInfoItem(ChecklistStatus.UnderConstruction).icon
  "
>
  ></app-subheading
>

<div class="page-container">
  <form class="standard-form" [formGroup]="checklistForm">
    <fieldset [disabled]="crudAction == Crud.Delete">
      <mat-form-field class="full-width">
        <input
          matInput
          formControlName="name"
          (change)="onFieldUpdate('name')"
          placeholder="Name"
          required
        />
        <mat-error *ngIf="checklistForm.controls['name']?.hasError('required')">
          Name is required.
        </mat-error>
        <mat-error *ngIf="checklistForm.controls['name'].hasError('minlength')">
          Name must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="checklistForm.controls['name'].hasError('maxlength')">
          Name must be no more than 70 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea
          matInput
          formControlName="description"
          (change)="onFieldUpdate('description')"
          matAutosizeMinRows="3"
          matAutosizeMaxRows="10"
          matTextareaAutosize
          placeholder="Description"
          required
        ></textarea>
        <mat-error
          *ngIf="checklistForm.controls['description'].hasError('required')"
        >
          Description is required.
        </mat-error>
        <mat-error
          *ngIf="checklistForm.controls['description'].hasError('minlength')"
        >
          Description must be at least 10 characters long.
        </mat-error>
        <mat-error
          *ngIf="checklistForm.controls['description'].hasError('maxlength')"
        >
          Description must be no more than 500 characters long.
        </mat-error>
      </mat-form-field>

      <div class="prompt">
        Status:
      </div>
      <div style="margin-bottom: 5px;">
        <app-checkliststatus
          [checklist]="checklist"
          [showAction]="true"
        ></app-checkliststatus>
      </div>

      <mat-form-field class="half-width">
        <mat-label>Team</mat-label>
        <mat-select
          formControlName="team"
          (selectionChange)="onTeamChange($event)"
          [compareWith]="objectComparisonFunction"
        >
          <mat-option
            *ngFor="let t of myteams$ | async"
            [value]="{ id: t.id, name: t.name }"
          >
            {{ t.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Category</mat-label>
        <mat-select
          formControlName="category"
          (selectionChange)="onCategoryChange($event)"
          [compareWith]="objectComparisonFunction"
        >
          <mat-option
            *ngFor="let category of categories$ | async"
            [value]="helper.docRef('/categories/' + category.id)"
          >
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </fieldset>

    <mat-expansion-panel [disabled]="crudAction == Crud.Delete" hideToggle>
      <mat-expansion-panel-header>
        Assignees:
        {{
          helper.getFlatDocRefArray(helper.userRefToDocRef(checklist.assignee))
        }}
        <mat-icon style="margin-left: auto;">edit</mat-icon>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <app-userlistedit
          [users]="checklist.assignee"
          (change)="onAssigneeChange($event)"
        ></app-userlistedit>
      </ng-template>
    </mat-expansion-panel>
    <br />
    <mat-expansion-panel [disabled]="crudAction == Crud.Delete" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Resources:
          <ng-container
            *ngIf="
              checklist.resources && checklist.resources.length > 0;
              else noResources
            "
          >
            <span *ngFor="let resource of checklist.resources; let i = index">
              <span *ngIf="i > 0">,</span>
              <span style="margin-left: 5px;">{{
                (resource | doc | async)?.name
              }}</span>
            </span>
          </ng-container>
          <ng-template #noResources>
            None
          </ng-template>
        </mat-panel-title>
        <mat-icon style="margin-left: auto;">edit</mat-icon>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <app-resourcelistedit
          [resources]="checklist.resources"
          (change)="onResourcesChange($event)"
        ></app-resourcelistedit>
      </ng-template>
    </mat-expansion-panel>
    <br />

    <mat-expansion-panel
      [expanded]="crudAction == Crud.Update"
      [disabled]="crudAction == Crud.Delete"
      [hidden]="crudAction == Crud.Create"
      hideToggle
    >
      <mat-expansion-panel-header>
        Checklist Items
        <mat-icon style="margin-left: auto;">edit</mat-icon>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <app-checklistitemlist
          [checklist]="checklist"
          [hideCreate]="checklist.status != ChecklistStatus.UnderConstruction"
        ></app-checklistitemlist>
      </ng-template>
    </mat-expansion-panel>

    <br />
    <button
      mat-raised-button
      color="primary"
      *ngIf="crudAction == Crud.Create"
      [disabled]="!checklistForm.valid"
      (click)="onCreate()"
      id="btnCreate"
    >
      <mat-icon>add</mat-icon>
      Create
    </button>
  </form>
</div>
