table {
  width: 100%;
  margin-bottom: 10px;
  min-width: 340px;
}

.mat-column-description {
  padding-right: 5px;
}

.mat-column-name {
  padding-right: 5px;
}

.mat-column-id {
  text-align: right;
  justify-content: flex-end;
}

.add-row th {
  border-bottom: none;
  padding: 0px;
  margin: 0px;
}

.add-button {
  float: right;
  margin-right: 5px;
}

.activities-heading {
  font-weight: 600;
  font-size: large;
}
