.prompt {
  font-weight: 600;
}

mat-radio-button {
  margin-left: 10px;
  display: block;
}

.current-status {
  margin-left: 10px;
}

.update-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
