<app-subheading
  prompt="Checklist"
  [matIcon]="helper.getChecklistStatusInfoItem(checklist?.status)?.icon"
  [showAll]="true"
  (showAllChange)="onShowAllChange($event)"
></app-subheading>

<div class="page-container">
  <div class="prompt">
    Name
  </div>
  <div>
    <a
      [routerLink]="'/checklist/' + checklist.id"
      matTooltip="View Checklist"
      >{{ checklist?.name }}</a
    >
  </div>

  <div class="prompt">Description</div>
  <div>{{ checklist?.description }}</div>

  <div class="prompt">Status</div>
  <div>
    <app-checkliststatus
      [checklist]="checklist"
      [showAction]="true"
    ></app-checkliststatus>
  </div>

  <div class="prompt">
    Resources
  </div>
  <div>
    <app-resourcelistsimple [resources$]="resources$"></app-resourcelistsimple>
  </div>

  <div class="prompt">Comments</div>
  <div>
    <form class="standard-form" [formGroup]="checklistForm">
      <fieldset>
        <textarea
          matInput
          formControlName="comments"
          class="full-width"
          (change)="updateComments()"
          matAutosizeMinRows="3"
          matAutosizeMaxRows="10"
          matTextareaAutosize
          placeholder="Comments"
        ></textarea>
        <mat-error
          *ngIf="checklistForm.controls['comments'].hasError('maxlength')"
        >
          Comments can not be more than 5000 characters long.
        </mat-error>
      </fieldset>
    </form>
  </div>

  <div [hidden]="hideDetails">
    <div class="prompt">Additional Information...</div>
    <div class="page-container">
      <div class="prompt">Team</div>
      <div>{{ checklist.team.name }}</div>

      <div class="prompt">Category</div>
      <div>{{ checklist.category.name }}</div>
      <ng-container
        *ngIf="checklist.fromTemplate && checklist.fromTemplate.id.length > 0"
      >
        <div class="prompt">Based on Template</div>
        <div>{{ checklist.fromTemplate.name }}</div>
      </ng-container>
      <div class="prompt">Date Created</div>
      <div *ngIf="checklist.dateCreated">
        {{ checklist.dateCreated.toDate() }}
      </div>

      <div class="prompt">Assignees</div>
      <div>
        {{
          helper.getFlatDocRefArray(helper.userRefToDocRef(checklist.assignee))
        }}
      </div>
    </div>
  </div>

  <div class="prompt">Checklist Items</div>
  <div>
    <app-checklistitemeditlist
      [checklist]="checklist"
    ></app-checklistitemeditlist>
  </div>
</div>
