<app-subheading
  prompt="Checklist"
  [matIcon]="helper.getChecklistStatusInfoItem(checklist?.status)?.icon"
  [enhanced]="true"
  (enhanceClick)="onEnhanced($event)"
></app-subheading>

<div class="page-container">
  <form class="standard-form" [formGroup]="checklistForm">
    <ng-container *ngIf="!enhanced">
      <div class="prompt">
        Name
      </div>
      <div>
        <a
          [routerLink]="'/checklist/' + checklist.id"
          matTooltip="View Checklist"
          >{{ checklist?.name }}</a
        >
      </div>

      <div class="prompt">Description</div>
      <div>{{ checklist?.description }}</div>
      <div class="prompt">Comments</div>
      <div>
        {{ checklist.comments }}
      </div>
    </ng-container>

    <ng-container *ngIf="enhanced">
      <div class="prompt">Name</div>
      <div>
        <mat-form-field class="full-width">
          <input
            matInput
            formControlName="name"
            (change)="onFieldUpdate('name')"
            required
          />
          <mat-error
            *ngIf="checklistForm.controls['name'].hasError('required')"
          >
            Name is required.
          </mat-error>
          <mat-error
            *ngIf="checklistForm.controls['name'].hasError('minlength')"
          >
            Name must be at least 3 characters long.
          </mat-error>
          <mat-error
            *ngIf="checklistForm.controls['name'].hasError('maxlength')"
          >
            Name must be no more than 70 characters long.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="prompt">Description</div>

      <mat-form-field class="full-width">
        <textarea
          matInput
          formControlName="description"
          (change)="onFieldUpdate('description')"
          matAutosizeMinRows="3"
          matAutosizeMaxRows="10"
          matTextareaAutosize
        ></textarea>
        <mat-error
          *ngIf="checklistForm.controls['description'].hasError('required')"
        >
          Description is required.
        </mat-error>
        <mat-error
          *ngIf="checklistForm.controls['description'].hasError('minlength')"
        >
          Description must be at least 10 characters long.
        </mat-error>
        <mat-error
          *ngIf="checklistForm.controls['description'].hasError('maxlength')"
        >
          Description must be no more than 500 characters long.
        </mat-error>
      </mat-form-field>

      <div class="prompt">Comments</div>
      <div>
        <mat-form-field class="full-width">
          <textarea
            matInput
            formControlName="comments"
            (change)="onFieldUpdate('comments')"
            matAutosizeMinRows="3"
            matAutosizeMaxRows="10"
            matTextareaAutosize
          ></textarea>
          <mat-error
            *ngIf="checklistForm.controls['comments'].hasError('maxlength')"
          >
            Comments can not be more than 5000 characters long.
          </mat-error>
        </mat-form-field>
      </div>
    </ng-container>

    <div class="prompt">Status</div>
    <div>
      <app-checkliststatus
        [checklist]="checklist"
        [showAction]="true"
      ></app-checkliststatus>
    </div>

    <div class="prompt">
      Resources
    </div>
    <div>
      <app-resourcelistsimple
        [resources]="checklist.resources"
      ></app-resourcelistsimple>
    </div>
  </form>

  <ng-container *ngIf="enhanced">
    <div class="prompt">Team</div>
    <div>{{ (checklist.team | doc | async)?.name }}</div>

    <div class="prompt">Category</div>
    <div>{{ (checklist.category | doc | async)?.name }}</div>
    <ng-container *ngIf="checklist.fromTemplate">
      <div class="prompt">Based on Template</div>
      <div>{{ (checklist.fromTemplate | doc | async)?.name }}</div>
    </ng-container>
    <div class="prompt">Date Created</div>
    <div *ngIf="checklist.dateCreated">
      {{ checklist.dateCreated.toDate() }}
    </div>

    <div class="prompt">Assignees</div>
    <div>
      {{
        helper.getFlatDocRefArray(helper.userRefToDocRef(checklist.assignee))
      }}
    </div>
  </ng-container>

  <div class="prompt">Checklist Items</div>
  <div>
    <app-checklistitemeditlist
      [checklist]="checklist"
    ></app-checklistitemeditlist>
  </div>
</div>
