// .colgrid2 {
//   display: grid;
//   grid-template-columns: 1fr;
// }

.prompt {
  font-weight: 700;
  margin-right: 10px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  padding-right: 8px;
  min-width: 350px;
}
.checklistitem-frame {
  border: 1px solid rgb(240, 240, 240);
  border-radius: 3px;
  padding: 4px;
  border-style: solid;
  background-color: rgb(240, 240, 240);
  margin-top: 5px;
}
