.spinner_container {
  border-radius: 10px;
  height: 70px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  z-index: 3;
  opacity: 0.5;
}

// Create a 2 column layout when screen is more than 500px wide
@media (min-width: 500px) {
  .grid2wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
  }
  .grid50percent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

.full-width {
  width: 100%;
}
.half-width {
  width: 45%;
}

.prompt {
  font-weight: 600;
}

.social-distancing {
  margin-right: 20px;
}
