<app-subheading prompt="User Profile" matIcon="person"></app-subheading>
<div class="page-container">
  <!-- Use an array of keyValuePairs to display most of the user properties -->
  <table>
    <tr *ngFor="let kvp of kvps">
      <td>
        <b>{{ kvp.key }}</b>
      </td>
      <td class="break-all">{{ kvp.value }}</td>
    </tr>
    <tr>
      <td>
        <b>Photo</b>
      </td>
      <td><img src="{{ user.photoURL }}" height="48px" /></td>
    </tr>
    <ng-container *ngIf="updatableProfile">
      <tr>
        <td class="nowrap">
          <b>Is Administrator?</b>
        </td>
        <td>
          <mat-checkbox
            [(ngModel)]="user.isAdmin"
            (click)="updateIsAdmin()"
            matTooltip="Administrators have open access to all functions in the system, and can manage other users"
          ></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td class="nowrap">
          <b>Is Activated?</b>
        </td>
        <td>
          <mat-checkbox
            [(ngModel)]="user.isActivated"
            (click)="updateIsActivated()"
            matTooltip="Users must be activated before any access is provided to the system"
          ></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td class="nowrap">
          <b>Can Create Teams?</b>
        </td>
        <td>
          <mat-checkbox
            [(ngModel)]="user.canCreateTeams"
            (click)="updateCanCreateTeams()"
            matTooltip="User can create and manage teams"
          ></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td class="nowrap">
          <b>Can Manage Categories?</b>
        </td>
        <td>
          <mat-checkbox
            [(ngModel)]="user.isCategoryManager"
            (click)="updateIsCategoryManager()"
            matTooltip="User can access and manage categories and related actions"
          ></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td class="nowrap">
          <b>Can Manage Resources?</b>
        </td>
        <td>
          <mat-checkbox
            [(ngModel)]="user.isResourceManager"
            (click)="updateIsResourceManager()"
            matTooltip="User can create and manage resources"
          ></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td class="nowrap">
          <b>Can Manage Templates?</b>
        </td>
        <td>
          <mat-checkbox
            [(ngModel)]="user.isTemplateManager"
            (click)="updateIsTemplateManager()"
            matTooltip="User can create and delete templates"
          ></mat-checkbox>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
