<mat-spinner *ngIf="showSpinner" class="spinner_container"></mat-spinner>
<app-subheading prompt="User Profile" matIcon="person"></app-subheading>
<div class="page-container">
  <!-- Use an array of keyValuePairs to display most of the user properties -->
  <div class="gridwrapper">
    <div class="prompt">DisplayName</div>
    <div>{{ user.displayName }}</div>
    <div class="prompt">eMail</div>
    <div>{{ user.email }}</div>
    <div class="prompt">Created</div>
    <div>{{ user.dateCreated }}</div>
    <div class="prompt">Last Logon</div>
    <div>{{ user.dateLastLogon }}</div>

    <div class="prompt">Photo</div>
    <div>
      <img src="{{ user.photoURL }}" height="48px" />

      <div>
        <button
          class="add-button"
          mat-button-raised
          (click)="fileUpload.click()"
        >
          <mat-icon class="align-bottom">add</mat-icon>Upload Photo
        </button>
        <div class="fileUploadMsg">{{ fileUploadMsg }}</div>

        <input
          type="file"
          #fileUpload
          hidden="true"
          (change)="onUploadFile($event)"
          multiple="false"
          accept="image/*"
        />
      </div>
    </div>

    <div class="prompt">Is Administrator?</div>
    <div>
      <mat-checkbox
        [(ngModel)]="user.isAdmin"
        (click)="updateIsAdmin()"
        [disabled]="!fullAccess"
        matTooltip="Administrators have open access to all functions in the system, and can manage other users"
      ></mat-checkbox>
    </div>

    <div class="prompt">Is Activated?</div>
    <div>
      <mat-checkbox
        [(ngModel)]="user.isActivated"
        (click)="updateIsActivated()"
        [disabled]="!fullAccess"
        matTooltip="Users must be activated before any access is provided to the system"
      ></mat-checkbox>
    </div>

    <div class="prompt">Can Create Teams?</div>
    <div>
      <mat-checkbox
        [(ngModel)]="user.canCreateTeams"
        (click)="updateCanCreateTeams()"
        [disabled]="!fullAccess"
        matTooltip="User can create and manage teams"
      ></mat-checkbox>
    </div>

    <div class="prompt">Can Manage Categories?</div>
    <div>
      <mat-checkbox
        [(ngModel)]="user.isCategoryManager"
        (click)="updateIsCategoryManager()"
        [disabled]="!fullAccess"
        matTooltip="User can access and manage categories and related actions"
      ></mat-checkbox>
    </div>

    <div class="prompt">Can Manage Resources?</div>
    <div>
      <mat-checkbox
        [(ngModel)]="user.isResourceManager"
        (click)="updateIsResourceManager()"
        [disabled]="!fullAccess"
        matTooltip="User can create and manage resources"
      ></mat-checkbox>
    </div>

    <div class="prompt">Can Manage Templates?</div>
    <div>
      <mat-checkbox
        [(ngModel)]="user.isTemplateManager"
        (click)="updateIsTemplateManager()"
        [disabled]="!fullAccess"
        matTooltip="User can create and delete templates"
      ></mat-checkbox>
    </div>
  </div>
</div>
