<app-subheading
  [title]="'Team: ' + team.name + (readOnly ? '' : ' [Update]')"
  *ngIf="crudAction == Crud.Update"
  returnRoute="/teams"
  returnTitle="Return to Teams"
  matIcon="supervisor_account"
></app-subheading>
<app-subheading
  title="Create New Team"
  *ngIf="crudAction == Crud.Create"
  returnRoute="/teams"
  returnTitle="Return to Teams"
  matIcon="supervisor_account"
></app-subheading>
<app-subheading
  [title]="'Team: ' + team.name + ' [Delete]'"
  *ngIf="crudAction == Crud.Delete"
  returnRoute="/teams"
  returnTitle="Return to Teams"
  matIcon="supervisor_account"
></app-subheading>
<div class="page-container">
  <form class="standard-form" [formGroup]="teamForm">
    <fieldset [disabled]="crudAction == Crud.Delete || readOnly">
      <mat-form-field class="full-width">
        <input
          matInput
          formControlName="name"
          (change)="onFieldUpdate('name')"
          placeholder="Team Name"
          required
        />
        <mat-error *ngIf="teamForm.controls['name'].hasError('required')">
          Name is required.
        </mat-error>
        <mat-error *ngIf="teamForm.controls['name'].hasError('minlength')">
          Name must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="teamForm.controls['name'].hasError('maxlength')">
          Name must be no more than 35 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea
          matInput
          formControlName="description"
          (change)="onFieldUpdate('description')"
          matAutosizeMinRows="3"
          matAutosizeMaxRows="10"
          matTextareaAutosize
          placeholder="Description"
          required
        ></textarea>
        <mat-error
          *ngIf="teamForm.controls['description'].hasError('required')"
        >
          Description is required.
        </mat-error>
        <mat-error
          *ngIf="teamForm.controls['description'].hasError('minlength')"
        >
          Description must be at least 10 characters long.
        </mat-error>
        <mat-error
          *ngIf="teamForm.controls['description'].hasError('maxlength')"
        >
          Description must be no more than 500 characters long.
        </mat-error>
      </mat-form-field>
    </fieldset>

    <app-subheading title="Team Members"></app-subheading>
    <app-teamuserlist
      [teamId]="team.id"
      [hideAddRemove]="hideAddRemove"
      *ngIf="crudAction != Crud.Create"
    ></app-teamuserlist>

    <button
      mat-raised-button
      color="primary"
      *ngIf="crudAction == Crud.Create"
      [disabled]="!teamForm.valid"
      (click)="onCreate()"
      id="btnCreate"
    >
      <mat-icon>add</mat-icon>
      Create
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="crudAction == Crud.Delete"
      (click)="onDelete()"
      id="btnDelete"
    >
      <mat-icon>clear</mat-icon>
      Delete
    </button>
  </form>
</div>
