ngb-carousel {
  min-width: 400px;
}

.card-header {
  padding-bottom: 5px;
  background-color: white;
}

mat-card-subtitle {
  margin-bottom: 8px;
}

.card-image {
  background-size: cover;
}

.card-1-image {
  background-image: url("../../assets/images/card-1.png");
}

.card-2-image {
  background-image: url("../../assets/images/card-2.png");
}

.card-3-image {
  background-image: url("../../assets/images/card-3.png");
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.home-card {
  margin: 5px;
}
